* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

/* intestazione logo */
.logo {
    position: relative;
    background: url(img/pattern.png);
    background-color: dodgerblue;
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
}

.logo .img {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-80%, -20%);
    background: url(img/logo.svg);
    background-repeat: no-repeat;
    height: 60px;
    width: 250px;
}
/* chiusura intestazione logo */

/* core */
main {
    margin: auto;
    height: 100vh;
    width: 1300px;
}

.titolo h1 {  
    font-size: 35px;
}

.titolo h3 {
    color: grey;
}

.titolo span {
    color: deepskyblue;
}

.titolo p {
    color: grey;
    font-size: 10px;
}

.tim-photo img {
    margin-top: 30px;
    height: 400px;
    max-width: 100%;
}

.tim-photo p {
    font-size: 10px;
}

.testo1 p {
    margin-top: 20px;
    font-size: 15px;
}

.testo1 span {
    background-color: yellow;
}

.testo2 {
    margin-left: 13px;
    padding-top: 30px;
    font-size: 15px;
}
/* chiusura core */

/* tabella */
table {
    margin-top: 30px;
    font-size: 12px;
    border-collapse: collapse;
    text-align: center;
}

table thead {
    background-color: deepskyblue;
    color: white;
}

tbody #cell1 {
    background-color: lightskyblue;
    font-weight: 600;
    color:dodgerblue;
}

table tbody {
    font-weight: 600;
    color:dodgerblue;
}

table tfoot {
    background-color: lightskyblue;
    font-weight: 600;
    color:dodgerblue;
}
/* fine tabella */

/* testo terza parte */
.testo3 {
    margin: 30px 0;
}

.testo3 p {
    font-size: 15px;
}

.testo3 span {
    background-color: yellow;
}

/* contenuto footer */
footer #footer-text {
    margin: 15px 0;
}

#footer-text p {
    font-weight: bold;
    font-size: 15px;
    color: grey;
}

footer #footer-image1 {
    background: url(img/monitor.jpg);    
    height: 200px;
    width: 300px;   
}

#footer-image1 p {
    margin: 10px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

footer #footer-image2 {
    background: url(img/graph.jpg);
    height: 200px;
    width: 300px;
}

#footer-image2 p {
    margin: 10px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}