* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.logo {
    background: url(img/pattern.png);
    background-color: dodgerblue;
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
}

.logo img {
    height: 60px;
    width: 100%;
}

main {
    margin: auto;
    width: 1300px;
}

.titolo h1 {  
    font-size: 35px;
}

.titolo h3 {
    color: grey;
}

.titolo span {
    color: deepskyblue;
}

.titolo p {
    color: grey;
    font-size: 10px;
}

.tim-photo img {
    margin-top: 30px;
    height: 400px;
    max-width: 100%;
}

.tim-photo p {
    font-size: 10px;
}

.testo1 p {
    margin-top: 20px;
    font-size: 15px;
}

.testo1 span {
    background-color: yellow;
}

.testo2 {
    margin-left: 13px;
    padding-top: 30px;
    font-size: 15px;
}

.table {
    font-size: 13px;
    font-weight: bold;
}

.table .row-left {
    float: left;
    width: 20%;
}

.row-left #top-left {
    background-color: deepskyblue;
    color: white;
    padding: 5px 0;
}

.row-left .left {
    background-color: lightblue;
    padding: 20px 0;
}

.row-left #left2 {
    padding: 20px 0;
}

.table .row-center {
    float: left;
    width: 20%;
}

.row-center #top-center {
    background-color: deepskyblue;
    color: white;
    padding: 5px 0;
}

.row-center .center {
    background-color: lightblue;
    padding: 20px 0;
}

.row-center #center2 {
    padding: 20px 0;
}

.table .row-right {
    float: left;
    width: 60%;
}

.row-right #top-right {
    background-color: deepskyblue;
    color: white;
    padding: 5px 0;
}

.row-right .right {
    background-color: lightblue;
    padding: 11px 0;
}

.row-right #right2 {
    padding: 11px 0;
}